.login-card-bg {
    height: 100vh;
    background-color: rgba(0,0,0,0.6);
}
.login-card {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin: 0 auto;
    transform: translateY(-50%);
    width: 400px;
}
