.item-enter {
    margin-top: -50px;
}
.item-enter-active {
    margin-top: 0;
    transition: margin-top 500ms ease;
}
.item-exit {
    /*margin-top: 0;*/
}
.item-exit-active {
    /*margin-top: 50px;*/
    /*transition: margin-top 30000ms ease-in;*/
}
